/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;

    -ms-overflow-y: scroll;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
}

body, button, input, select, textarea {
    font-family: sans-serif;
    color: #fff;
}

::-moz-selection {
    background: #178f8e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #178f8e;
    color: #fff;
    text-shadow: none;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #178f8e;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

table button, table input {
    *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    resize: vertical;
}

input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

#ie {
    width: 100%;
    background: #ffff99;
    color: #000000;
    position: relative;
    text-align: center;
    padding: 5px 0;
}

#ie #closeIE {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#noJs {
    height: 40px;
    font-size: 22px;
    color: red;
    line-height: 40px;
    text-align: center;
}

ul li {
    list-style: none;
}

form label {
    width: 80px;
    display: inline-block;
    text-align: right;
    padding: 2px;
}

/* ==|== primary styles =====================================================
Author: 
========================================================================== */
body {
    width: 100%;
    margin: 0 auto;
    background: url("../imgs/bg_full.jpg") no-repeat 50% 0;
}
body.fade{
    background: url("../imgs/bg_fade.jpg") no-repeat 50% 0;
}
#container {
    width: 1200px;
    height: 1150px;
    margin: 0 auto;
    position: relative;
}

header {
    height: 400px;
    position: relative;
}

header #phone {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-family: 'rage italic', arial, san-serif;
}

nav {
    position: absolute;
    left: 600px;
    bottom: 0;
    width: 600px;
    height: 100px;
}

nav ul {
    margin: 0 50px;
}

nav li {
    display: inline-block;
    width: 140px;
    height: 60px;
    border: 2px solid #fff;
    margin: 21px 10px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-border-radius: 70px / 30px;
    -moz-border-radius: 70px / 30px;
    border-radius: 70px / 30px;

    background-image: -webkit-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: -moz-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: -o-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: -ms-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%); /* New WebKit syntax */
    background-color: #000;
}

nav li:hover {
    -webkit-box-shadow: 0 0 15px #178f8e;
    -moz-box-shadow: 0 0 15px #178f8e;
    box-shadow: 0 0 15px #178f8e;
}

nav li.active {
    -webkit-box-shadow: 5px 5px 15px #178F8E, 5px -5px 15px #178f8e, -5px 5px 15px #178f8e, -5px -5px 15px #178f8e;
    -moz-box-shadow: 5px 5px 15px #178F8E, 5px -5px 15px #178f8e, -5px 5px 15px #178f8e, -5px -5px 15px #178f8e;
    box-shadow: 5px 5px 15px #178F8E, 5px -5px 15px #178f8e, -5px 5px 15px #178f8e, -5px -5px 15px #178f8e;
}

nav li a {
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    display: block;
    font-family: 'Yesteryear', cursive;
    text-decoration: none;
}

#main {
    margin-left: 600px;
    width: 550px;
    font-size: 15px;
    text-align: center;
    padding: 0 25px;
    position: relative;
}
#lineTop, #lineBottom{
    background: url("../imgs/line_sprite.png") no-repeat 0 0;
    height: 35px;
    width: 558px;
    margin-bottom: -20px;
}
#lineBottom{
    background-position: 0 -40px;
}
#main h2, #main h3 {
    font-family: 'Yesteryear', cursive;
    font-size: 38px;
    text-shadow: 0 0 10px #000, 0 0 20px #000;
    margin: 10px auto;
}

#main h3 {
    font-size: 23px;
    height: 28px;
}

#main p {
    text-shadow: 0 0 20px #000;
}




/*products*/
.products #main{
    width: 100%;
    margin: 0 auto;
    height: 470px;
}
.category{
    width: 205px;
    height: 421px;
    background: url("../imgs/category_bg.png");
    float: left;
    margin: 5px 15px;
    position: relative;
    border: 2px solid #464646;
}
.category img{
    width: 174px;
    height: 117px;
    border: 1px solid #464646;
    margin-top: 12px;
}
#main .categoryLink{
    text-decoration: none;
    width: 205px;
    height: 421px;
}
#main .category:hover{
    box-shadow: 1px 1px 10px #00FFFF,1px -1px 10px #00FFFF,-1px 1px 10px #00FFFF,-1px -1px 10px #00FFFF;
}
#main .category p{
    width: 161px;
    height: 243px;
    background: url("../imgs/category_text_bg.png") no-repeat;
    position: relative;
    bottom: 20px;
    left: 17px;
    color: #000;
    padding: 5px;
    line-height: 17px;
    text-shadow: 0 0 10px #AE985F;
}
.products #main h2{
    position: absolute;
    left: 95px;
    top: -75px;
    font-size: 30px;
}
.products #main .category h3{
    margin: 2px auto;
    font-family: serif;
    text-shadow: 1px 1px 4px #D8CCB1,
                 1px -1px 4px #D8CCB1,
                 -1px 1px 4px #D8CCB1,
                 -1px -1px 4px #D8CCB1;
    color: #645224;
    line-height: 20px;
}
.products #main h4{
    clear: left;
}











/*CONTACT*/
.contact #main{
    margin: 10px 0;
    width: 100%;
}
.contact #main h2{
    position: absolute;
    left: 190px;
    top: -90px;
}
#contactForm{
    width: 955px;
    border: 1px solid #aaa;
    background: url("../imgs/form_bg_full.png") repeat;
    margin: 10px auto;
    padding: 20px;
    position: relative;
    text-align: left;
    font-size: 17px;
    -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent),
      color-stop(0.5, transparent),
      to(rgba(255, 255, 255, 0.5)));
}

#contactForm label, #contactForm input, #contactForm textarea{
    width: 250px;
    display: block;
    text-align: left;
    font-size: 17px;
}
#contactForm input, #contactForm textarea{
    border-radius: 4px;
    border: 1px solid #8F7D4F;
    background: #C6B68E;
    height: 30px;
    color: #000;
}
#contactForm textarea{
    height: 200px;
}
#contactForm #formTop{
    width: 100%;
    height: 255px;
    border: 1px solid #4b4b4b;
    position: relative;
    background: url("../imgs/form_top_bg.png") repeat;
}
#formTop #topLeft, #formTop #topMiddle, #formTop #topRight{
    width: 260px;
    float: left;
    margin: 10px;
}
#formTop #topRight{
    width: 375px;
    text-align: center;
}


#contactForm #formBottom{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    border: 1px solid #4b4b4b;
    position: relative;
}
#formBottom input{
    width: 25px;
    display: inline-block;
}
#formBottom label{
    display: inline;
    font-family: 'Yesteryear', cursive;
    font-size: 32px;
}
#contactForm #sendMailBtn{
    position: absolute;
    right: 140px;
    top: 17px;
    width: 200px;
    height: 50px;
    border-radius: 100px / 25px;
    font-size: 35px;
    background-image: -webkit-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: -moz-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: -o-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: -ms-radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%);
    background-image: radial-gradient(center 15px, ellipse contain, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 45%, black 42%, black 100%); /* New WebKit syntax */
    background-color: #000;
    border: 2px solid #fff;
    font-family: 'Yesteryear', cursive;
    font-size: 32px;

    box-shadow: 0 15px 25px #000;
}
#contactForm #sendMailBtn:hover{
    -webkit-box-shadow: 0 0 15px #178f8e;
    -moz-box-shadow: 0 0 15px #178f8e;
    box-shadow: 0 0 15px #178f8e,
                0 15px 25px #000;
}
#contactForm #sendMailBtn:active{
    box-shadow: 0 10px 25px #000;
}
#contactForm p{
    color: #000;
    text-shadow: 0 0 5px #AE985F, 0 0 10px #AE985F;
}







/* Elastislide Style */
.es-carousel-wrapper{
	background: #101010;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../imgs/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}













/*FOOTER*/

footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer #request {
    font-family: 'Yesteryear', cursive;
    font-size: 24px;
    text-shadow: 0 0 10px #000;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 500px;
}

footer #onsite {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 500px;
    text-align: right;
}







.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../imgs/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../imgs/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../imgs/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../imgs/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
















/* ==|== non-semantic helper classes ======================================== */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.noFocus:focus {
    outline: none;
}

/* ==|== media queries ====================================================== */
/* ==|== print styles ======================================================= */
@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

}
